.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Динамічна кількість колонок */
  gap: 20px;
  margin-top: 20px;
  min-height: 300px;
  background-color: #0d0d24;
  padding: 20px;
  justify-items: center;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* User Card */
.user-card {
  background: #333;
  color: white;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-card__avatar {
  width: 50px;
  height: 50px;
  background: #666;
  color: white;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 50px;
  font-size: 20px;
  text-transform: uppercase;
}

.user-card__name {
  font-size: 20px;
  margin: 10px 0;
}

.user-card__role {
  font-size: 18px;
  color: orange;
  margin: 5px 0;
}

.user-card__created-at {
  font-size: 12px;
  margin: 5px 0;
  color: #bbb;
}

.user-card__post-count {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 40px;
  font-size: 16px;
  color: white;
}

.user-card__post-count.green {
  background: green;
}

.user-card__post-count.red {
  background: red;
}
