.btn-neon {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  color: #f5f5f5;
  width: 50%;
  transition: 1s;
  transition-delay: 0.2s;
}

.btn-neon svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.left-neon,
.right-neon {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
}

.left-neon {
  left: 100px;
}

.right-neon {
  right: 100px;
}
