.footer {
  background: linear-gradient(135deg, #1e1e2f, #121212);
  color: #fff;
  font-family: Arial, sans-serif;
}


.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #aaa;
}
