:root {
  --primary-color: #646cff;
  --primary-hover-color: #535bf2;
  --text-color-light: #ffffff;
  --text-color-dark: #213547;
  --background-dark: #242424;
  --background-light: #ffffff;
  --button-bg-dark: #1a1a1a;
  --button-bg-light: #f9f9f9;
  --button-border-radius: 8px;
  --button-padding: 0.6em 1.2em;
  --button-font-weight: 500;
  --button-font-size: 1em;
  --h1-font-size: 3.2em;
  --line-height: 1.5;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: var(--line-height);
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-hover-color);
}

body {
  margin: 0;
  height: 100svh;
  background: url("./assets/image/body_bg1.jpg") center/cover no-repeat;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.1;
}

.text-center {
  text-align: center;
}

button {
  border-radius: var(--button-border-radius);
  border: 1px solid transparent;
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-family: inherit;
  background-color: var(--button-bg-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button[type="submit"] {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-dark);
    background-color: var(--background-light);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: var(--button-bg-light);
  }
}
